
/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
    color: #75001d;
    background-color: #ffbdcd;
    border-color: #ffa8be;
}

.alert-primary hr {
    border-top-color: #ff8fab;
}

.alert-primary .alert-link {
    color: #420010;
}

.badge-primary {
    color: #fff;
    background-color: #f0003c;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
    color: #fff;
    background-color: #bd002f;
}

.bg-primary {
    background-color: #f0003c !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
    background-color: #bd002f !important;
}

.border-primary {
    border-color: #f0003c !important;
}

.btn-primary {
    color: #fff;
    background-color: #f0003c;
    border-color: #f0003c;
}

.btn-primary:hover {
    color: #fff;
    background-color: #cc0033;
    border-color: #bd002f;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 0, 60, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #f0003c;
    border-color: #f0003c;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #bd002f;
    border-color: #ad002b;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 0, 60, 0.5);
}

.btn-outline-primary {
    color: #f0003c;
    background-color: transparent;
    border-color: #f0003c;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #f0003c;
    border-color: #f0003c;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 0, 60, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #f0003c;
    background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #f0003c;
    border-color: #f0003c;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(240, 0, 60, 0.5);
}

.list-group-item-primary {
    color: #75001d;
    background-color: #ffa8be;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
    color: #75001d;
    background-color: #ff8fab;
}

.list-group-item-primary.list-group-item-action.active {
    color: #fff;
    background-color: #75001d;
    border-color: #75001d;
}

.table-primary,
.table-primary > th,
.table-primary > td {
    background-color: #ffa8be;
}

.table-hover .table-primary:hover {
    background-color: #ff8fab;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
    background-color: #ff8fab;
}

.text-primary {
    color: #f0003c !important;
}

a.text-primary:hover, a.text-primary:focus {
    color: #bd002f !important;
}
