:root
{
    --mainred: hsl(345deg 100% 47%);
    --lighter-red : hsl(340deg 100% 32%);
    --mainblack: #082032;
    --mainblue: #334756;
    --maingrey: #2C394B;
    font-size: 25px;
    --boxHeight: 5.2rem;
    --boxBorderRadius: 0.5rem;
}

body
{
    background-color: var(--maingrey);
}

.vertical-center
{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.filter-white
{
    filter: invert(100%) sepia(0%) saturate(5%) hue-rotate(126deg) brightness(100%) contrast(104%);
}

.stripe-bar
{
    height: 7px;
    position: relative;
    background: repeating-linear-gradient(
        45deg,
        var(--mainred),
        var(--mainred) 10px,
        #000 10px,
        rgb(71, 71, 71) 20px
    );
}

.stripe-bar:after
{
    content: "";
    position: absolute;
    top: 5%;
    left:0px;
    width: 100%;
    height: 30%;
    background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}


/* SIGN-IN / REGISTER CUSTOMIZATION */

.form-signin
{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin #floatingInput
{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.form-signin #floatingPassword
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: fit-content;
}

#submit-button
{
    margin-top: 2rem;
}

#floating-mid-input
{
    border-radius: 0;
    margin-bottom: -1px;
    height: fit-content;
}

#alert
{
    margin: 10px;
    background-color: red;
    list-style-type: none;
    color: white;
}

.form-range::-webkit-slider-thumb
{
    background: var(--mainred);
}

.form-range::-moz-range-thumb
{
    background: var(--mainred);
}

.form-range::-ms-thumb
{
    background: var(--mainred);
}

.form-range:focus::-webkit-slider-thumb
{
    box-shadow: var(--mainred);
    background: var(--lighter-red);
}

.form-range:focus::-moz-range-thumb
{
    box-shadow: var(--mainred);
    background: var(--lighter-red);
}

.form-range:focus::-ms-thumb
{
    box-shadow: var(--mainred);
    background: var(--lighter-red);
}

.form-title
{
    color: white;
}

.submit-bottom
{
    margin-top: 10px;
}

.submit-bottom a
{
    text-decoration: none;
}

#choose-exer-list
{
    width: 100%;
    border-radius: 0.3rem;
}


/* HEADER CUSTOMIZATION  */

header > hr
{
    margin: 0;
}

#header-logo-container
{
    background-color: var(--mainblack);
    color: var(--mainred);
    width: 100%;
    height: fit-content;
}

#header-logo-container > div
{
    width: 100%;
}

#header-logo
{
    font-size: 3vw;
    font-weight: bolder;
    height: fit-content;
    text-shadow: 0px 0.08em var(--lighter-red);
    margin: 0;
    margin-left: 3px;
    height: fit-content;
}

#header-nav
{
    font-size: 21px; /* for big displays */
    width: 100%;
    height: fit-content;
    padding: calc(0.5em + 0.3em) 0px 0.5em 0px;  /* 0.3 because the front of the button Ypos is +0.3 */
    background-color: var(--mainblue);
    box-shadow: inset 0px 0px 3px black;
}

ul#header-nav-bar
{
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: fit-content;
    height: 100%;
}

.popup-button
{
    width: 3.5rem;
    height: 3.5rem;
    margin: 0px 0.2rem;

    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    
    transition: filter 600ms; /* lightens all by 10% */
    outline-offset:0.4rem;  /* for selector box  */
    -webkit-tap-highlight-color: transparent; /* for mobile disables select box */
    user-select: none; /* Disables user selecting button content */
}

.popup-button:hover
{
    transition: filter 250ms;
    filter: brightness(110%);
}

.popup-button-shadow
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.7em;
    background: hsl(0deg 0% 0% / 0.25);
    filter: blur(0.06em);
    transform: translateY(0.18em);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.popup-button-edge
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.7em;
    background: linear-gradient(
        to left,
        hsl(340deg 100% 16%) 0%,
        hsl(340deg 100% 32%) 8%,
        hsl(340deg 100% 32%) 92%,
        hsl(340deg 100% 16%) 100%
    );
}

.popup-button:focus:not(:focus-visible)
{
    outline: none;
}

.popup-button-front
{
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 0.7em;
    background: hsl(345deg 100% 47%); /*for compatibility with older browsers*/
    background-image: linear-gradient(hsl(345deg 100% 47%),hsl(345deg 100% 65%));
    will-change: transform;
    transform: translateY(-0.3em);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
    position: relative;
}

.popup-button:hover .popup-button-front
{
    transform: translateY(-0.4em);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.popup-button:hover .popup-button-shadow
{
    transform: translateY(0.3em);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.popup-button:active .popup-button-front
{
    transform: translateY(-0.12em);
    transition: transform 34ms;
}

.popup-button:active .popup-button-shadow
{
    transform: translateY(0.06em);
    transition: transform 34ms;
}

.header-nav-item
{
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
}

#header-nav-icon
{
    width: 80%;
    height: auto;
    padding: 5px;
}

.header-nav-name
{
    font-size: 0.7em;
    display: block;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: -4px;
    color: white;
}

/* BODY CUSTOMIZATION */

#nav-bar
{
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-auto-flow: column;
    justify-items: center;
    padding: 0.2rem 10px;
    background: var(--mainblack);
    color: white;
    height: 2rem;
}

#nav-bar div
{
    align-self: center;
}

#nav-bar-text
{
    font-size: 1rem;
    font-weight: 700;
    width: fit-content;
    align-self: center;
    margin: 0;
}

.nav-arrow
{
    height: 1.5rem;
    align-self: center;
}

.clickable
{
    cursor: pointer;
}

#views
{
    position: relative;
    min-height: 75vh;
    height: fit-content;
}

.padding-body
{
    padding: 0.2rem;
}

#index-body
{
    display: grid;
    grid-row-gap: 0.2rem;
}

.boxListLayout
{
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: var(--mainblack);
    border-radius: var(--boxBorderRadius);
    color: white;
    height: var(--boxHeight);
}

.cal-day
{
    grid-template-columns:  auto 20%;
    text-decoration: none;
}

.cal-day:hover
{
    background-color: var(--mainblue);
    color: white;
}

.cal-month-tag
{
    width: 100%;
    text-align: center;
    color: white;
}

.cal-month-tag > h4
{
    margin: 0;
    padding: 0;
}

.index-exer
{
    grid-template-columns: 30% auto 20%;
}

.index-exer-img
{
    grid-column: 1;
    border-style: solid;
    border-color: var(--maingrey);
    border-radius: var(--boxBorderRadius);
    height: calc(0.6 * var(--boxHeight));
    width: 70%;
}

.index-exer-info
{
    height: 100%;
    grid-row: 1 /span 2;
    grid-column: 2;
    justify-self: flex-start;
    height: fit-content;
    line-height:0.7rem;
}

.cal-day-info
{
    justify-self: flex-start;
    margin-left: 1.5rem;
    font-size: 1.3rem;
    line-height:0.7rem;
}

.cal-day-info > h6
{
    color: rgb(151, 151, 151);
    margin: 0;
    padding: 0;
}
.cal-day-info > h4
{
    margin: 0;
    padding: 0;
}

.index-exer-info > h6
{
    font-size: 0.9rem;
    color: rgb(151, 151, 151);
    margin: 0;
    padding: 0;
}

.index-exer-info > h4
{
    font-size: 1rem;
    margin: 0;
    margin-bottom: 0.2rem;
    padding: 0;
}

.grey-text
{
    color: rgb(151, 151, 151);
}

.transparentNumber-layout
{
    font-size: 2rem;
    font-weight: 800;
    background: linear-gradient(
        135deg,
        white 40%,
        transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.index-exer-number
{
    grid-row: 1/ span 2;
    grid-column: 3;
}

.index-exer-but
{
    grid-row:2;
    grid-column: 1;
    font-size: 0.6rem;
    border: none;
    padding: 0px;
    width: 70%;
    background-color: var(--mainred);
    border-radius: calc(0.6 *var(--boxBorderRadius));
    color: white;
}

.index-exer-but:active
{
    background-color: var(--lighter-red);
}

#index-rest
{
    width: 50%;
    color: white;
    text-align: center;
    margin: auto;
    padding: 1rem;
}

#index-rest img
{
    width: 50%;
    height: auto;
}

#index-add
{
    display: grid;
    grid-template-columns: 10% auto 10%;
    margin-top: 0.2rem;
    text-decoration: none;
    align-items: center;
    justify-items: center;
    background: linear-gradient(135deg, white, var(--mainblack) 60%);
    background-size: 300%;
    background-position-x: +100%;
    transition: background-position 1s;
}

#index-add:active
{
    background-position: 0%;
    transition: background-position 34ms;
}
#index-add:hover
{
    background-position: 0%;
    transition: background-position 0.5s;
    color: var(--mainblack);
}

#index-add img
{
    height: 1.5rem;
}

#index-add span
{
    text-align: center;
}

.hidden
{
    display: none;
}

input[type=checkbox].toggle-switch
{
    display: grid;
    appearance: none;
    width: 100%;
    height: 2rem;
    border-radius: 0.3rem;
    background-color: white;
    outline: 0;
    position: relative;
    font-size: 0.7rem;
}

input[type=checkbox].toggle-switch::before
{
    color:var(--maingrey);
    content: 'Choose existing';
    width: 50%;
    position: absolute;
    text-align: center;
    right: 0;
    align-self: center;
    transition: content 0.04s;
    will-change: right;
    transition-delay: 0.09s;
}

input[type=checkbox].toggle-switch::after
{
    display: grid;
    content: 'Create new';
    text-align: center;
    align-items: center;
    color: white;
    width: 50%;
    height: 2rem;
    background-color: var(--mainred);
    border-radius: 0.3rem;
    position: absolute;
    transform: scale(1.1);
    left: 0;
    will-change: left;
    transition: left 0.09s ease-in-out;
    box-shadow: 0.1em 0 calc(1rem/5) rgba(0, 0, 0, 0.5);
}

input[type=checkbox].toggle-switch:checked::before{
    content: 'Create new';
    right: 50%;
}

input[type=checkbox].toggle-switch:checked::after
{
    content: 'Choose existing';
    left: 50%;
    box-shadow: -0.1em 0 calc(1rem/5) rgba(0, 0, 0, 0.5);
}

.track-container
{
    visibility: hidden;
    background-color: #334756b4;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 1rem;
}

.track-popup
{
    position: relative;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 90% auto;
    column-gap: 0.3rem;
}

.track-popup .track-popup-content
{
    width: 100%;
    height: fit-content;
    background-color: var(--mainblack);
    color: white;
    border-radius: var(--boxBorderRadius);
    padding: 0.5rem;
    z-index: 1;
    text-align: center;
}

button.close-but
{
    all: unset;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: var(--mainred);
    z-index: 1;
    border-radius: var(--boxBorderRadius);
    cursor: pointer;
}

button.exer-close-but
{
    width: 2rem;
    height: 2rem;
}

button.track-popup-but
{
    width: 3rem;
    height: 3rem;
}

button.close-but:active
{
    background-color: var(--lighter-red);
}

button.close-but img
{
    width: 60%;
}

button.exer-close-but img
{
    vertical-align: text-bottom;
}

.track-table-container
{
    width: 100%;
    height: 10rem;
    overflow:auto;
    border-style: solid;
    border-color: var(--mainred);
    border-radius: var(--boxBorderRadius);
}

.track-popup-table
{
    font-size: 0.8rem;
    width: 100%;
    text-align: center;
}

.track-popup-table thead
{
    border-style:solid;
    border-bottom-width: 0.1rem;
}

.track-popup-table tr.track-table-info
{
    border-style: solid;
    border-top-width: 0.1rem;
}

.track-form
{
    margin: 0.5rem 0 0.5rem 0;
}

#track-bottom-info
{
    font-size: 0.9rem;
    color: var(--mainblue);
}

#profile-body
{
    width: 100%;
    text-align: center;
    color: white;
}

#back-btn
{
    display: grid;
    grid-template-columns: 30% auto;
    justify-content: center;
    width: 6rem;
    height: 2rem;
    transform: scale(1.1);
    color: white;
    border-radius: 0.3rem;
    font-size: 0.7rem;
}

#back-btn img
{
    height: 100%;
    width: auto;
}

@media screen and (max-width: 500px)
{
    :root
    {
        font-size: 20px;
    }
    .stripe-bar
    {
        height: 10px;
    }
    #header-logo
    {
        text-align: center;
        margin: 0;
        font-size: 1rem;
    }
    #header-nav
    {
        font-size: 12px;
    }
    ul#header-nav-bar
    {
        margin: auto;
    }
    .header-nav-icon
    {
        padding: 4px;
    }
    .header-nav-name
    {
        font-size: 1em;
        margin-top: -4px;
    }
    #nav-bar-text
    {
        font-size: 17.6px;
    }
    #index-add
    {
        grid-template-columns: 20% auto 20%;
    }
    #index-rest img
    {
        width: 100%;
    }
    .track-popup
    {
        margin: 0;
    }
    .index-exer-info > h6
    {
        font-size: 0.8rem;
    }
    .index-exer-info > h4
    {
        font-size: 0.9rem;
    }
    .cal-day-info > h6
    {
        font-size: 0.8rem;
    }
    .cal-day-info > h4
    {
        font-size: 0.9rem;
    }
    .cal-day-info
    {
        margin-left: 1rem;
        font-size: 1rem;
    }

}