{% extends 'Ledger/layout.html' %}
{% load static %}
{% block title %} Calendar - GG {% endblock %}

{% block body %}
    <main class="cal-body padding-body" id="index-body"></main>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'Ledger/calendar.js' %}"></script>
{% endblock %}