{% extends 'Ledger/layout.html' %}
{% load static %}
{% block title %} Workout - GG {% endblock %}

{% block body %}
    <!-- Backend fills this span with requested number from url -->
    <span style="display: none;" id="request-day-number">{{dayNumber}}</span>

    <nav id="nav-bar">
        <img src="/media/assets/caret-left-fill.svg" alt="arrow-left" class="nav-arrow clickable" id="arrow-left">
        <div id="nav-bar-name">
            <h3 id="nav-bar-text" class="clickable">Day name</h3>
            <form id="form-day-name" class="hidden">
                <input type="text" id="input-day-name">
                {% csrf_token %}
            </form>
        </div>
        <img src="/media/assets/caret-right-fill.svg" alt="arrow-right" class="nav-arrow clickable" id="arrow-right">
    </nav>

    <main id="views">
        <!-- Exercises view -->
        <div id="thebody" class="hidden padding-body">
            <!-- exercises are in here  -->
            <div id="index-body"></div>
            <!-- Content when day is empty -->
            <div id="index-rest" class="hidden">
                <span>Rest day</span>
                <img src="/media/assets/cheems-gamer.png" alt="cheems-gamer">
            </div>
            <!-- New exercise button -->
            <a id="index-add" class="index-exer clickable boxListLayout">
                <img src="/media/assets/plus-square-fill.svg" alt="plus">
                <span>Add new exercise</span>
            </a>
        </div>

        <!-- track-popup view  -->
        <div class="track-container hidden">
            <div class="track-popup">
                <span class="track-popup-content">
                    <h3 class="track-popup-name">Exercise name</h3>
                    <div class="track-table-container">
                        <table class="track-popup-table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Sets</th>
                                    <th>Reps</th>
                                    <th>Weight</th>
                                </tr>
                            </thead>
                            <tbody class="track-table-body"></tbody>
                        </table>
                    </div>
                    <br>
                    <div>
                        <form id="track-f" novalidate>
                            {% csrf_token %}
                            <h6>Track your progress</h6>
                            <input type="number" class="form-control track-form" id="track-sets"placeholder="*Sets">
                            <input type="number" class="form-control track-form" id="track-reps" placeholder="*Reps">
                            <input type="number" class="form-control track-form" id="track-weight" placeholder="*Weight">
                            <input type="text" class="form-control track-form" id="track-info" placeholder="More info">
                            <h6 id="track-bottom-info">Note: All inputs marked with "*" are required</h6>
                            <button id="submit-button" class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
                        </form>
                    </div>
                </span>
                <button class="track-popup-but close-but">
                    <img style="position: relative;"src="/media/assets/x-lg.svg" alt="close">
                </button>
            </div>
        </div>
    
        <!-- New exercise view -->
        <div id="new-exer-view" class="hidden">
            <div class="text-center">
                <main class="form-signin">
                    <button class="track-popup-but close-but" id="back-btn">
                        <img style="position: relative;"src="/media/assets/box-arrow-left.svg" alt="close">
                        <span>Go Back</span>
                    </button>
                    <br>
                    <input type="checkbox" class="toggle-switch clickable" id="exer-switch">
                    <br>
                    <form id="add-exer-form">
                        {% csrf_token %}
                        <section id="new-exer-layout">
                            <h1 class="h3 mb-3 fw-normal form-title">New exercise</h1>
                            <div class="form-floating">
                                <input type="text" class="form-control" id="floatingInput" placeholder="a">
                                <label for="floatingInput">Exercise name</label>
                            </div>
                            <div class="form-floating">
                                <div class="form-control" id="floating-mid-input">
                                    <input type="range" min="1" max="50" value="1" class="form-range" id="customRangeSetsMin">
                                    <input type="range" min="1" max="50" value="1" class="form-range" id="customRangeSetsMax">
                                </div>
                                <label for="customRange1" class="form-label">
                                    <span>Set range:</span>
                                    <span id="setMin"></span>
                                    <span>-</span>
                                    <span id="setMax"></span>
                                </label>
                            </div>
                            <div class="form-floating">
                                <div class="form-control" id="floatingPassword">
                                    <input type="range" min="1" max="99" value="1" class="form-range" id="customRangeRepsMin">
                                    <input type="range" min="1" max="99" value="1" class="form-range" id="customRangeRepsMax">
                                </div>
                                <label for="customRange1" class="form-label">
                                    <span>Rep range:</span>
                                    <span id="repMin"></span>
                                    <span>-</span>
                                    <span id="repMax"></span>
                                </label>
                            </div>
                            <button id="submit-button" class="w-100 btn btn-lg btn-primary" type="submit">Add exercise</button>
                        </section>

                        <section id="choose-exer-layout" class="hidden">
                            <h1 class="h3 mb-3 fw-normal form-title">Select from existing exercises</h1>
                            <select id="choose-exer-list" size="10"></select>
                            <button id="submit-button" class="w-100 btn btn-lg btn-primary" type="submit">Add exercise</button>
                        </section>
                    </form>
                </main>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'Ledger/ledger.js' %}"></script>
{% endblock %}