{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Gamer Gainz{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'Ledger/bs-primary.css' %}">
        <link rel="stylesheet" href="{% static 'Ledger/styles.css' %}">
        {% block scripts %}{% endblock %}
    </head>
    <body>
        <header>
            <div id="header-logo-container">
                <div>
                    <h1 id="header-logo">Gamer Gainz</h1>
                </div>
            </div>
            <nav id="header-nav">
                <ul id="header-nav-bar">
                    <li class="popup-button">
                        <span class="popup-button-shadow"></span>
                        <span class="popup-button-edge"></span>
                        <span class="popup-button-front">
                            <a href="{% url 'calendar' %}" class="header-nav-item">
                                <div class="vertical-center">
                                    <img src="/media/assets/calendar-fill.svg" id="header-nav-icon" class="filter-white">
                                    <span class="header-nav-name">Calendar</span>
                                </div>
                            </a>
                        </span>
                    </li>
                    <li class="popup-button">
                        <span class="popup-button-shadow"></span>
                        <span class="popup-button-edge"></span>
                        <span class="popup-button-front">
                            <a href="{% url 'profile' %}" class="header-nav-item">
                                <div class="vertical-center">
                                    <img src="/media/assets/person.svg" id="header-nav-icon" class="filter-white">
                                    <span class="header-nav-name">Profile</span>
                                </div>
                            </a>
                        </span>
                    </li>
                </ul>
            </nav>
            <div class="stripe-bar"></div>
        </header>
        {% if messages %}
            <ul class="alert alert-primary" role="alert" id="alert">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block body %}{% endblock %}
    </body>
</html>