{% extends "Ledger/layout.html" %}
{% load widget_tweaks %}

{% block body %}
    <div class="text-center">
        <main class="form-signin">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal form-title">Please sign in</h1>
                <div class="form-floating">
                    {% render_field form.email class="form-control" id="floatingInput" placeholder="name@example.com" type="email" %}
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    {% render_field form.password class="form-control" id="floatingPassword" placeholder="Password" type="password" %}
                    <label for="floatingPassword">Password</label>
                </div>
            
                <!-- <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div> -->
                <button id="submit-button" class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                <div class="submit-bottom">
                    <p class="mt-5 mb-3 text-muted" style="display: inline;">Don`t have an account?</p>
                    <a href="{% url 'register' %}">Register here</a>
                </div>
            </form>
        </main>
    </div>
{% endblock %}