{% extends 'Ledger/layout.html' %}
{% load static %}
{% block title %} Profile - GG {% endblock %}

{% block body %}
    <main id="profile-body" class="padding-body">
        <h1>Hello, {{ request.user }}</h1>
        <a id="index-add" class="index-exer clickable boxListLayout" href="{% url 'logout' %}">
            <img src="/media/assets/box-arrow-left.svg" alt="plus">
            <span>Log out</span>
        </a>
    </main>
{% endblock %}

{% block scripts %}
    <!-- <script type="module" src="{% static 'Ledger/calendar.js' %}"></script> -->
{% endblock %}