{% extends "Ledger/layout.html" %}
{% load widget_tweaks %}

{% block body %}
    <div class="text-center">
        <main class="form-signin">
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <img class="mb-4" src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
                <h1 class="h3 mb-3 fw-normal form-title">Please register</h1>
                <div class="form-floating">
                    {% render_field form.email class="form-control" id="floatingInput" placeholder="name@example.com" type="email" %}
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    {% render_field form.username class="form-control" id="floating-mid-input" placeholder="Username" type="text" %}
                    <label for="floatingPassword">Username</label>
                </div>
                <div class="form-floating">
                    {% render_field form.password class="form-control" id="floating-mid-input" placeholder="Password" type="password" %}
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="passwordRetype">
                    <label for="floatingPassword">Retype Password</label>
                </div>
                <button id="submit-button" class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
                <div class="submit-bottom">
                    <p class="mt-5 mb-3 text-muted" style="display: inline;">Already have an account?</p>
                    <a href="{% url 'login' %}">Sign in here</a>
                </div>
            </form>
        </main>
    </div>
{% endblock %}